rng/place-authorites.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2025-07-16T13:11:46Z. . 
TEI Edition: P5 Version 4.10.0a. Last updated on 6th July 2025, revision 9dbe3a1e6 
TEI Edition Location: https://www.tei-c.org/Vault/P5/4.10.0a/ 
  
--><!--TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium (info@tei-c.org).-->
   <define name="tei_macro.limitedContent">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="tei_model.limitedPhrase"/>
            <ref name="tei_model.inter"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="tei_macro.phraseSeq">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="tei_model.gLike"/>
            <ref name="tei_model.attributable"/>
            <ref name="tei_model.phrase"/>
            <ref name="tei_model.global"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="tei_att.canonical.attributes">
      <ref name="tei_att.canonical.attribute.key"/>
      <ref name="tei_att.canonical.attribute.ref"/>
   </define>
   <define name="tei_att.canonical.attribute.key">
      <optional>
         <attribute name="key">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.canonical.attribute.ref">
      <optional>
         <attribute name="ref">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) provides an explicit means of locating a full definition or identity for the entity being named by means of one or more URIs.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="place-authorities-att.cmc-generatedBy-CMC_generatedBy_within_post-constraint-rule-1">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                context="tei:*[@generatedBy]">
         <sch:assert test="ancestor-or-self::tei:post">The @generatedBy attribute is for use within a &lt;post&gt; element.</sch:assert>
      </sch:rule>
   </pattern>
   <define name="tei_att.datable.w3c.attribute.when">
      <optional>
         <attribute name="when">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of the date or time in a standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.notBefore">
      <optional>
         <attribute name="notBefore">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.notAfter">
      <optional>
         <attribute name="notAfter">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.from">
      <optional>
         <attribute name="from">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.to">
      <optional>
         <attribute name="to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="place-authorities-att.datable.w3c-att-datable-w3c-when-constraint-rule-2">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                context="tei:*[@when]">
         <sch:report test="@notBefore|@notAfter|@from|@to" role="nonfatal">The @when attribute cannot be used with any other att.datable.w3c attributes.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="place-authorities-att.datable.w3c-att-datable-w3c-from-constraint-rule-3">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                context="tei:*[@from]">
         <sch:report test="@notBefore" role="nonfatal">The @from and @notBefore attributes cannot be used together.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="place-authorities-att.datable.w3c-att-datable-w3c-to-constraint-rule-4">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                context="tei:*[@to]">
         <sch:report test="@notAfter" role="nonfatal">The @to and @notAfter attributes cannot be used together.</sch:report>
      </sch:rule>
   </pattern>
   <define name="tei_att.global.rendition.attribute.rend">
      <optional>
         <attribute name="rend">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rendition) indicates how the element in question was rendered or presented in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.style">
      <optional>
         <attribute name="style">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.rendition">
      <optional>
         <attribute name="rendition">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a description of the rendering or presentation used for this element in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attribute.cert">
      <optional>
         <attribute name="cert">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(certainty) signifies the degree of certainty associated with the intervention or interpretation.</a:documentation>
            <choice>
               <data type="double">
                  <param name="minInclusive">0</param>
                  <param name="maxInclusive">1</param>
               </data>
               <choice>
                  <value>high</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>medium</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>low</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attribute.resp">
      <optional>
         <attribute name="resp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.source.attribute.source">
      <optional>
         <attribute name="source">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the source from which some aspect of this element is drawn.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="place-authorities-att.global.source-source-only_1_ODD_source-constraint-rule-5">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                context="tei:*[@source]">
         <sch:let name="srcs" value="tokenize( normalize-space(@source),' ')"/>
         <sch:report test="(   self::tei:classRef                                 | self::tei:dataRef                                 | self::tei:elementRef                                 | self::tei:macroRef                                 | self::tei:moduleRef                                 | self::tei:schemaSpec )                                   and                                   $srcs[2]">
              When used on a schema description element (like
              <sch:value-of select="name(.)"/>), the @source attribute
              should have only 1 value. (This one has <sch:value-of select="count($srcs)"/>.)
            </sch:report>
      </sch:rule>
   </pattern>
   <define name="tei_att.typed.attributes">
      <ref name="tei_att.typed.attribute.type"/>
      <ref name="tei_att.typed.attribute.subtype"/>
   </define>
   <define name="tei_att.typed.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attribute.subtype">
      <optional>
         <attribute name="subtype">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(subtype) provides a sub-categorization of the element, if needed.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="place-authorities-att.typed-subtypeTyped-constraint-rule-6">
      <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                context="tei:*[@subtype]">
         <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</sch:assert>
      </sch:rule>
   </pattern>
   <define name="tei_att.datable.attribute.period">
      <optional>
         <attribute name="period">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies pointers to one or more definitions of named periods of time (typically <code xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:rng="http://relaxng.org/ns/structure/1.0">&lt;category&gt;</code>s, <code xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:rng="http://relaxng.org/ns/structure/1.0">&lt;date&gt;</code>s, or <code xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:rng="http://relaxng.org/ns/structure/1.0">&lt;event&gt;</code>s) within which the datable item is understood to have occurred.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language) indicates the language of the element content using a tag generated according to <a xmlns="http://www.w3.org/1999/xhtml"
                  xmlns:rng="http://relaxng.org/ns/structure/1.0"
                  href="http://www.rfc-editor.org/rfc/bcp/bcp47.txt">BCP 47</a>.</a:documentation>
            <choice>
               <data type="language"/>
               <choice>
                  <value/>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.naming.attribute.role">
      <optional>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">may be used to specify further information about the entity referenced by this name in the form of a set of whitespace-separated values, for example the occupation of a person, or the status of a place.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.naming.attribute.nymRef">
      <optional>
         <attribute name="nymRef">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference to the canonical name) provides a means of locating the canonical form (nym) of the names associated with the object named by the element bearing it.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_model.nameLike.agent">
      <choice>
         <ref name="tei_name"/>
      </choice>
   </define>
   <define name="tei_model.nameLike.agent_alternation">
      <choice>
         <ref name="tei_name"/>
      </choice>
   </define>
   <define name="tei_model.nameLike.agent_sequence">
      <ref name="tei_name"/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptional">
      <optional>
         <ref name="tei_name"/>
      </optional>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_name"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike.agent_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_name"/>
      </oneOrMore>
   </define>
   <define name="tei_model.segLike">
      <notAllowed/>
   </define>
   <define name="tei_model.segLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.segLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.segLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.segLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.segLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.highlighted">
      <choice>
         <ref name="tei_model.hiLike"/>
         <ref name="tei_model.emphLike"/>
      </choice>
   </define>
   <define name="tei_model.highlighted_alternation">
      <choice>
         <ref name="tei_model.hiLike_alternation"/>
         <ref name="tei_model.emphLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.highlighted_sequence">
      <ref name="tei_model.hiLike_sequence"/>
      <ref name="tei_model.emphLike_sequence"/>
   </define>
   <define name="tei_model.highlighted_sequenceOptional">
      <optional>
         <ref name="tei_model.hiLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.emphLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.highlighted_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.hiLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.emphLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.highlighted_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.hiLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.emphLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.dateLike">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.graphicLike">
      <notAllowed/>
   </define>
   <define name="tei_model.graphicLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.graphicLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.graphicLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.graphicLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.graphicLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.msdesc">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.msdesc_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.msdesc_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.msdesc_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.msdesc_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.msdesc_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.edit">
      <choice>
         <ref name="tei_model.pPart.editorial"/>
         <ref name="tei_model.pPart.transcriptional"/>
      </choice>
   </define>
   <define name="tei_model.pPart.edit_alternation">
      <choice>
         <ref name="tei_model.pPart.editorial_alternation"/>
         <ref name="tei_model.pPart.transcriptional_alternation"/>
      </choice>
   </define>
   <define name="tei_model.pPart.edit_sequence">
      <ref name="tei_model.pPart.editorial_sequence"/>
      <ref name="tei_model.pPart.transcriptional_sequence"/>
   </define>
   <define name="tei_model.pPart.edit_sequenceOptional">
      <optional>
         <ref name="tei_model.pPart.editorial_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.pPart.transcriptional_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.pPart.edit_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.pPart.editorial_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.pPart.transcriptional_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.pPart.edit_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.pPart.editorial_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.pPart.transcriptional_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.ptrLike">
      <notAllowed/>
   </define>
   <define name="tei_model.ptrLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.ptrLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.ptrLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.ptrLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.ptrLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.lPart">
      <notAllowed/>
   </define>
   <define name="tei_model.lPart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.lPart_sequence">
      <empty/>
   </define>
   <define name="tei_model.lPart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.lPart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.lPart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.global.meta">
      <notAllowed/>
   </define>
   <define name="tei_model.global.meta_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.global.meta_sequence">
      <empty/>
   </define>
   <define name="tei_model.global.meta_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.global.meta_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.global.meta_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.milestoneLike">
      <notAllowed/>
   </define>
   <define name="tei_model.milestoneLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.milestoneLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.milestoneLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.milestoneLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.milestoneLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.gLike">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl_sequence">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.phrase.xml">
      <notAllowed/>
   </define>
   <define name="tei_model.phrase.xml_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.phrase.xml_sequence">
      <empty/>
   </define>
   <define name="tei_model.phrase.xml_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.phrase.xml_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.phrase.xml_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.specDescLike">
      <notAllowed/>
   </define>
   <define name="tei_model.specDescLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.specDescLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.specDescLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.specDescLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.specDescLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.biblLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.biblLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.biblLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.headLike">
      <notAllowed/>
   </define>
   <define name="tei_model.labelLike">
      <choice>
         <ref name="tei_desc"/>
      </choice>
   </define>
   <define name="tei_model.labelLike_alternation">
      <choice>
         <ref name="tei_desc"/>
      </choice>
   </define>
   <define name="tei_model.labelLike_sequence">
      <ref name="tei_desc"/>
   </define>
   <define name="tei_model.labelLike_sequenceOptional">
      <optional>
         <ref name="tei_desc"/>
      </optional>
   </define>
   <define name="tei_model.labelLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_desc"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.labelLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_desc"/>
      </oneOrMore>
   </define>
   <define name="tei_model.listLike">
      <choice>
         <ref name="tei_listPlace"/>
      </choice>
   </define>
   <define name="tei_model.listLike_alternation">
      <choice>
         <ref name="tei_listPlace"/>
      </choice>
   </define>
   <define name="tei_model.listLike_sequence">
      <ref name="tei_listPlace"/>
   </define>
   <define name="tei_model.listLike_sequenceOptional">
      <optional>
         <ref name="tei_listPlace"/>
      </optional>
   </define>
   <define name="tei_model.listLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_listPlace"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.listLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_listPlace"/>
      </oneOrMore>
   </define>
   <define name="tei_model.noteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.noteLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.noteLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.noteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.noteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.noteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pLike">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.eventLike">
      <notAllowed/>
   </define>
   <define name="tei_model.global.edit">
      <notAllowed/>
   </define>
   <define name="tei_model.global.edit_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.global.edit_sequence">
      <empty/>
   </define>
   <define name="tei_model.global.edit_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.global.edit_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.global.edit_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_sequence">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.placeStateLike">
      <choice>
         <ref name="tei_model.placeNamePart"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_alternation">
      <choice>
         <ref name="tei_model.placeNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_sequence">
      <ref name="tei_model.placeNamePart_sequence"/>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptional">
      <optional>
         <ref name="tei_model.placeNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.placeNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.placeStateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.placeNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.quoteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.attributable">
      <choice>
         <ref name="tei_model.quoteLike"/>
      </choice>
   </define>
   <define name="tei_model.attributable_alternation">
      <choice>
         <ref name="tei_model.quoteLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.attributable_sequence">
      <ref name="tei_model.quoteLike_sequence"/>
   </define>
   <define name="tei_model.attributable_sequenceOptional">
      <optional>
         <ref name="tei_model.quoteLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.attributable_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.quoteLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.attributable_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.quoteLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.addressLike">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike">
      <choice>
         <ref name="tei_model.nameLike.agent"/>
         <ref name="tei_model.offsetLike"/>
         <ref name="tei_model.placeStateLike"/>
         <ref name="tei_model.persNamePart"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_alternation">
      <choice>
         <ref name="tei_model.nameLike.agent_alternation"/>
         <ref name="tei_model.offsetLike_alternation"/>
         <ref name="tei_model.placeStateLike_alternation"/>
         <ref name="tei_model.persNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_sequence">
      <ref name="tei_model.nameLike.agent_sequence"/>
      <ref name="tei_model.offsetLike_sequence"/>
      <ref name="tei_model.placeStateLike_sequence"/>
      <ref name="tei_model.persNamePart_sequence"/>
   </define>
   <define name="tei_model.nameLike_sequenceOptional">
      <optional>
         <ref name="tei_model.nameLike.agent_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.offsetLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.placeStateLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.persNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.nameLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.nameLike.agent_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.offsetLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.placeStateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.persNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.nameLike.agent_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.offsetLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.placeStateLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.persNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.global">
      <choice>
         <ref name="tei_model.global.meta"/>
         <ref name="tei_model.milestoneLike"/>
         <ref name="tei_model.noteLike"/>
         <ref name="tei_model.global.edit"/>
      </choice>
   </define>
   <define name="tei_model.pPart.data">
      <choice>
         <ref name="tei_model.dateLike"/>
         <ref name="tei_model.measureLike"/>
         <ref name="tei_model.addressLike"/>
         <ref name="tei_model.nameLike"/>
      </choice>
   </define>
   <define name="tei_model.pPart.data_alternation">
      <choice>
         <ref name="tei_model.dateLike_alternation"/>
         <ref name="tei_model.measureLike_alternation"/>
         <ref name="tei_model.addressLike_alternation"/>
         <ref name="tei_model.nameLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.pPart.data_sequence">
      <ref name="tei_model.dateLike_sequence"/>
      <ref name="tei_model.measureLike_sequence"/>
      <ref name="tei_model.addressLike_sequence"/>
      <ref name="tei_model.nameLike_sequence"/>
   </define>
   <define name="tei_model.pPart.data_sequenceOptional">
      <optional>
         <ref name="tei_model.dateLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.measureLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.addressLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.nameLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.pPart.data_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.dateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.measureLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.addressLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.nameLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.pPart.data_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.dateLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.measureLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.addressLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.nameLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.inter">
      <choice>
         <ref name="tei_model.egLike"/>
         <ref name="tei_model.oddDecl"/>
         <ref name="tei_model.biblLike"/>
         <ref name="tei_model.labelLike"/>
         <ref name="tei_model.listLike"/>
         <ref name="tei_model.stageLike"/>
         <ref name="tei_model.attributable"/>
      </choice>
   </define>
   <define name="tei_model.phrase">
      <choice>
         <ref name="tei_model.segLike"/>
         <ref name="tei_model.highlighted"/>
         <ref name="tei_model.graphicLike"/>
         <ref name="tei_model.pPart.msdesc"/>
         <ref name="tei_model.pPart.edit"/>
         <ref name="tei_model.ptrLike"/>
         <ref name="tei_model.lPart"/>
         <ref name="tei_model.phrase.xml"/>
         <ref name="tei_model.specDescLike"/>
         <ref name="tei_model.pPart.data"/>
      </choice>
   </define>
   <define name="tei_model.limitedPhrase">
      <choice>
         <ref name="tei_model.hiLike"/>
         <ref name="tei_model.emphLike"/>
         <ref name="tei_model.pPart.msdesc"/>
         <ref name="tei_model.pPart.editorial"/>
         <ref name="tei_model.ptrLike"/>
         <ref name="tei_model.phrase.xml"/>
         <ref name="tei_model.pPart.data"/>
      </choice>
   </define>
   <define name="tei_att.personal.attribute.full">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="full"
                    a:defaultValue="yes">
            <a:documentation>indicates whether the name component is given in full, as an abbreviation or simply as an initial.</a:documentation>
            <choice>
               <value>yes</value>
               <a:documentation>(yes) the name component is spelled out in full.</a:documentation>
               <value>abb</value>
               <a:documentation>(abbreviated) the name component is given in an abbreviated form.</a:documentation>
               <value>init</value>
               <a:documentation>(initial letter) the name component is indicated only by one initial.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.personal.attribute.sort">
      <optional>
         <attribute name="sort">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(sort) specifies the sort order of the name component in relation to others within the name.</a:documentation>
            <data type="nonNegativeInteger"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_model.placeLike">
      <choice>
         <ref name="tei_place"/>
      </choice>
   </define>
   <define name="tei_desc">
      <element name="desc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(description) contains a short description of the purpose, function, or use of its parent element, or when the parent is a documentation element, describes or defines the object being documented.  [23.4.1. Description of Components]</a:documentation>
         <ref name="tei_macro.limitedContent"/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  xmlns:rng="http://relaxng.org/ns/structure/1.0"
                  id="place-authorities-desc-deprecationInfo-only-in-deprecated-constraint-rule-7">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:desc[ @type eq 'deprecationInfo']">
               <sch:assert test="../@validUntil">Information about a
        deprecation should only be present in a specification element
        that is being deprecated: that is, only an element that has a
        @validUntil attribute should have a child &lt;desc
        type="deprecationInfo"&gt;.</sch:assert>
            </sch:rule>
         </pattern>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.
Suggested values include: 1] deprecationInfo (deprecation information)</a:documentation>
               <choice>
                  <value>deprecationInfo</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(deprecation information) This element describes why or how its parent element is being deprecated, typically including recommendations for alternate encoding.</a:documentation>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_name">
      <element name="name">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(name, proper noun) contains a proper noun or noun phrase. [3.6.1. Referring Strings]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attribute.xmllang"/>
         <ref name="tei_att.datable.attribute.period"/>
         <ref name="tei_att.datable.w3c.attribute.when"/>
         <ref name="tei_att.datable.w3c.attribute.notBefore"/>
         <ref name="tei_att.datable.w3c.attribute.notAfter"/>
         <ref name="tei_att.datable.w3c.attribute.from"/>
         <ref name="tei_att.datable.w3c.attribute.to"/>
         <ref name="tei_att.personal.attribute.full"/>
         <ref name="tei_att.personal.attribute.sort"/>
         <ref name="tei_att.typed.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_att.datable.custom.attribute.when-custom">
      <optional>
         <attribute name="when-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of a date or time in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.notBefore-custom">
      <optional>
         <attribute name="notBefore-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.notAfter-custom">
      <optional>
         <attribute name="notAfter-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.from-custom">
      <optional>
         <attribute name="from-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.to-custom">
      <optional>
         <attribute name="to-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.datingPoint">
      <optional>
         <attribute name="datingPoint">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to some location defining a named point in time with reference to which the datable item is understood to have occurred.</a:documentation>
            <data type="anyURI">
               <param name="pattern">\S+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.datingMethod">
      <optional>
         <attribute name="datingMethod">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to a <code xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:rng="http://relaxng.org/ns/structure/1.0">&lt;calendar&gt;</code> element or other means of interpreting the values of the custom dating attributes.</a:documentation>
            <data type="anyURI">
               <param name="pattern">\S+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_model.persNamePart">
      <notAllowed/>
   </define>
   <define name="tei_model.persNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.persNamePart_sequence">
      <empty/>
   </define>
   <define name="tei_model.persNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.persNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.persNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_att.datable.iso.attribute.when-iso">
      <optional>
         <attribute name="when-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of a date or time in a standard form.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.notBefore-iso">
      <optional>
         <attribute name="notBefore-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.notAfter-iso">
      <optional>
         <attribute name="notAfter-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.from-iso">
      <optional>
         <attribute name="from-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.to-iso">
      <optional>
         <attribute name="to-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard form.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_listPlace">
      <element name="listPlace">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of places) contains a list of places, optionally followed by a list of relationships (other than containment) defined amongst them. [2.2.7. The Source Description 14.3.4. Places]</a:documentation>
         <group>
            <zeroOrMore>
               <ref name="tei_model.headLike"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="tei_desc"/>
            </zeroOrMore>
            <zeroOrMore>
               <empty/>
            </zeroOrMore>
            <oneOrMore>
               <oneOrMore>
                  <choice>
                     <ref name="tei_model.placeLike"/>
                     <ref name="tei_listPlace"/>
                  </choice>
               </oneOrMore>
               <zeroOrMore>
                  <empty/>
               </zeroOrMore>
            </oneOrMore>
         </group>
      </element>
   </define>
   <define name="tei_place">
      <element name="place">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(place) contains data about a geographic location. [14.3.4. Places]</a:documentation>
         <group>
            <zeroOrMore>
               <ref name="tei_model.headLike"/>
            </zeroOrMore>
            <choice>
               <zeroOrMore>
                  <ref name="tei_model.pLike"/>
               </zeroOrMore>
               <zeroOrMore>
                  <choice>
                     <ref name="tei_model.labelLike"/>
                     <ref name="tei_model.placeStateLike"/>
                     <ref name="tei_model.eventLike"/>
                     <ref name="tei_name"/>
                  </choice>
               </zeroOrMore>
            </choice>
            <zeroOrMore>
               <choice>
                  <ref name="tei_model.noteLike"/>
                  <ref name="tei_model.biblLike"/>
                  <ref name="tei_model.ptrLike"/>
               </choice>
            </zeroOrMore>
            <zeroOrMore>
               <choice>
                  <ref name="tei_model.placeLike"/>
                  <ref name="tei_listPlace"/>
               </choice>
            </zeroOrMore>
         </group>
         <ref name="tei_att.global.responsibility.attribute.cert"/>
         <ref name="tei_att.global.responsibility.attribute.resp"/>
         <ref name="tei_att.typed.attributes"/>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
            <data type="ID"/>
         </attribute>
         <empty/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="tei_listPlace"/>
      </choice>
   </start>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="xs"
           uri="http://www.w3.org/2001/XMLSchema"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="rng"
           uri="http://relaxng.org/ns/structure/1.0"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="rna"
           uri="http://relaxng.org/ns/compatibility/annotations/1.0"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="sch"
           uri="http://purl.oclc.org/dsdl/schematron"/>
   <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
           xmlns:rng="http://relaxng.org/ns/structure/1.0"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="sch1x"
           uri="http://www.ascc.net/xml/schematron"/>
</grammar>
